language: node_js
addons:
  chrome: stable
node_js:
  - node
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.13.0
  - export PATH=$HOME/.yarn/bin:$PATH
before_script:
  - yarn codegen
script:
  - yarn lint
  - yarn test:snapshot --requireReference
cache:
  yarn: true
